:root{
    --base-color: #fff;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --club-color: #1E2144; /* color del club */
}

body {
    font-family: times;
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background 0.2s linear;
    align-items: center;
    flex-direction: column;
    display: flex;
    /* min-height: 100vh; */
}

.logo {
    color: var(--text-color);
    width: 10rem;
    height: auto;
    padding: 10px;
}

.navbar {
    height: 4rem;
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-color);
    position: fixed;
    transition: all 0.5s;
}

.nav-menu ul {
    display: flex;
    gap: 5px;
}
  
.nav-menu ul li {
    list-style: none;
    background-color: var(--club-color);
    border-radius: 20px;
}
  
.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    font-size: 1.5rem;
}
  
.nav-menu li:hover {
    opacity: 0.9;
}

.nav-scrolled {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

#toggle-button {
    border: none;
    background: transparent;
}

.hamburger {
    width: 1.875rem;
    height: 1.313rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
  
.hamburger-line {
    height: 0.188rem;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
}

.button {
    display: inline;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(70, 130, 180);
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0 auto;
    width: 50%;
}

.button:hover {
    background-color: rgb(70, 130, 180);
    opacity: 0.7;
}

.button:active {
  background-color: rgb(70, 130, 180);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a:link{
    color: var(--text-color);
    text-decoration: none;
}

a:visited {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

.title {
    color: var(--text-color);
    padding-top: 75px;
    animation: fadein .7s;
    font-size: 25px;
}

.cont {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    text-align: center;
    animation: fadein .7s;
}

.text-block {
    width: 50%;
    border-radius: 15px;
}

.text {
    text-align: center;
}

h2 {
    color: var(--text-color);
}

.working-team {
    width: 100%;
    border: 1px solid;
}

.profile {
    width: 75px;
    height: auto;
    border-radius: 100px;
}

th {
    font-size: 25px;
}

@keyframes fadein {
    from {scale:.5; opacity:0;}
    to {scale:1; opacity:1;}
}

